@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:'Montserrat';
}

.dropdown{
    background-color: #FF6F6F;
}

@media (min-width: 800px){

    .img-container{
        height: 30rem;
    }
}