@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&family=Poppins&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");


/* PlayFair Display & Protest Revolution Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Protest+Revolution&display=swap');
:root{
  background: #fcfcfc;
}

.navbar-title{
  font-family: 'PlayFair Display';
}


* {
  font-family: "Poppins";
}


.headline{
  font-family: 'Montserrat';
}

.dropdown {
  background-color: #ff6f6f;
}

@media (min-width: 800px) {
  .img-container {
    height: 30rem;
  }
}
