@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

*{
    font-family: 'Montserrat';
}

.dropdown,.filter-container{
    background-color: #FF6F6F;
}

@media (min-width: 800px){

    .img-container{
        height: 30rem;
    }
}